<a href="https://colab.research.google.com/github/Loo-ke/python_project/blob/main/epl_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##프로토타입

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import calendar
import datetime

EPL_data = pd.read_csv('/content/results.csv', encoding="cp949")

# 시즌 list
season=list(EPL_data['Season'].unique())#시즌 별로 가져옴

#enumerate() 함수는 인자로 넘어온 목록을 기준으로 인덱스와 원소를 차례대로 접근하게 해주는 반복자(iterator) 객체를 반환해주는 함수
for count, i in enumerate(season, 1994):
  rank = {}
  #loc는 소괄호()가 아닌 대괄호[]로 감쌉니다.
  #.loc[행 , 열] => season의 i번째 index의 모든 열을 가져온다.
  s = EPL_data.loc[EPL_data['Season']==i,:]
  for j in s.index:
    if s['FTR'][j] == "H":#s["FTR"]에서 가져온 항목 중에 H가 있다면 
      if s["HomeTeam"][j] in rank:#딕셔너리 안에 있으면 추가
        #3을 더해서 대입해라
        rank[s["HomeTeam"][j]] = rank[s['HomeTeam'][j]] + 3
      else:
        rank[s["HomeTeam"][j]] = 3
    elif s['FTR'][j] == "D":#s["FTR"]에서 가져온 항목 중에 D가 있다면 
      if s["HomeTeam"][j] in rank:#딕셔너리 안에 있으면 추가
        #1을 더해서 대입해라
        rank[s["HomeTeam"][j]] = rank[s['HomeTeam'][j]] + 1
      else:
        rank[s["HomeTeam"][j]] = 1
        #어웨이 팀 동점
      if s["AwayTeam"][j] in rank:#딕셔너리 안에 있으면 추가
        rank[s["AwayTeam"][j]] = rank[s['AwayTeam'][j]] + 1
      else:
        rank[s["AwayTeam"][j]] = 1
    else:#어웨이 승리
      if s["AwayTeam"][j] in rank:#딕셔너리 안에 있으면 추가
        rank[s["AwayTeam"][j]] = rank[s['AwayTeam'][j]] + 3
      else:
        rank[s["AwayTeam"][j]] = 3

  df = pd.DataFrame(list(rank.items()), columns=["TEAM", "Point"])

  # sort_values 메서드는 값을 기준으로 레이블을 정렬하는 메서드입니다.
  # 즉, 데이터 df를 Point 컬럼의 값을 기준으로 정렬하는 메소드
  # 기본 정렬 방식은 오름차순(ascending)입니다.
  # 내림차순으로 정렬하고 싶다면 ascending 옵션을 False로 설정하면 됩니다.
  df = df.sort_values(by='Point' ,ascending=False)
  df= df.reset_index(drop=True)#drop = true면 기존 인덱스 제거 / false면 유지
  df.index = df.index + 1
  df["season"] = count

  #변수명을 자동화하는 globals 함수
  globals()["s_"+ str(count)] = df

#season들을 concat함수로 묶음 axis=0(세로)/1(가로)
total = pd.concat([s_1994,s_1995,s_1996,s_1997,s_1998,s_1999,s_2000,s_2001,s_2002,s_2003,s_2004,s_2005,s_2006,s_2007,s_2008,s_2009,s_2010,s_2011,s_2012,s_2013,s_2014,s_2015,s_2016,s_2017,s_2018,s_2019,s_2020,], axis=0)
#total.index1번째 요소들을 best에 대입
best_season = total[total.index==1]


#best 출력
# best

#승점 통계 출력
# best.describe()


#우승팀들 골
best_attack = list(best_season["TEAM"])
count = 1994

for s, t in zip(season, best_attack):#season과 best_attack리스트의 값을 같은 인덱스 짝 별로 묶어 튜플에 담아 반환
  goal = {}
  s_data = EPL_data.loc[(EPL_data["Season"]==s),:]
  s_data = s_data.loc[(s_data["HomeTeam"]==t)|(s_data["AwayTeam"]==t),:]#조건 1 | 조건 2 / HomteTeam 이거나 AwayTeam의 열을 모두 가져와라
  for h in s_data.index:
    if s_data["HomeTeam"][h] == t:#홈 팀일때
      if s_data["HomeTeam"][h] in goal:#홈에서의 골
        goal[s_data["HomeTeam"][h]] = goal[s_data["HomeTeam"][h]] + s_data["FTHG"][h]
      else:
        goal[s_data["HomeTeam"][h]] = s_data["FTHG"][h]
    elif s_data["AwayTeam"][h] == t:#어웨이 팀일때
      if s_data["AwayTeam"][h] in goal:#어웨이에서의 골
        goal[s_data["AwayTeam"][h]] = goal[s_data["AwayTeam"][h]] + s_data["FTAG"][h]
      else:
        goal[s_data["AwayTeam"][h]] = s_data["FTAG"][h]




  df = pd.DataFrame(list(goal.items()), columns=['TEAM', 'Goal'])
  df["season"] = count
  globals()["b_" + str(count)] = df

  count = count + 1

  
g_total = pd.concat([b_1994,b_1995,b_1996,b_1997,b_1998,b_1999,b_2000,b_2001,b_2002,b_2003,b_2004,b_2005,b_2006,b_2007,b_2008,b_2009,b_2010,b_2011,b_2012,b_2013,b_2014,b_2015,b_2016,b_2017,b_2018,b_2019,b_2020,], axis=0)

# print(g_total)
# print(best_attack)



#우승팀들 슈팅, 유효슈팅 
best_attack = list(best_season["TEAM"])
count = 2001

for s, t in zip(season, best_attack):#season과 best리스트의 값을 같은 인덱스 짝 별로 묶어 튜플에 담아 반환
  shot= {}
  shot_target = {}

  s_data = EPL_data.loc[(EPL_data["Season"]==s),:]
  s_data = s_data.loc[(s_data["HomeTeam"]==t)|(s_data["AwayTeam"]==t),:]

  for h in s_data.index:
    if s_data["HomeTeam"][h] == t:#홈 팀일때
      if s_data["HomeTeam"][h] in shot:#홈에서의 슈팅
        shot[s_data["HomeTeam"][h]] = shot[s_data["HomeTeam"][h]] + s_data["HS"][h]
      else:
        shot[s_data["HomeTeam"][h]] = s_data["HS"][h]

    elif s_data["AwayTeam"][h] == t:#어웨이 팀일때
      if s_data["AwayTeam"][h] in shot:#어웨이에서의 슈팅
        shot[s_data["AwayTeam"][h]] = shot[s_data["AwayTeam"][h]] + s_data["AS"][h]
      else:
        shot[s_data["AwayTeam"][h]] = s_data["AS"][h]

    #유효슈팅
    if s_data["HomeTeam"][h] == t:#홈 팀일때
      if s_data["HomeTeam"][h] in shot_target:#홈에서의 슈팅
        shot[s_data["HomeTeam"][h]] = shot[s_data["HomeTeam"][h]] + s_data["HST"][h]
      else:
        shot[s_data["HomeTeam"][h]] = s_data["HST"][h]

    elif s_data["AwayTeam"][h] == t:#어웨이 팀일때
      if s_data["AwayTeam"][h] in shot_target:#어웨이에서의 슈팅
        shot[s_data["AwayTeam"][h]] = shot[s_data["AwayTeam"][h]] + s_data["AST"][h]
      else:
        shot[s_data["AwayTeam"][h]] = s_data["AST"][h]

  df = pd.DataFrame(list(shot.items()),columns = ['TEAM','Shot'])
  df_f = pd.DataFrame(list(shot_target.items()),columns = ['TEAM','Shot_target'])
  t_df = pd.merge(df,df_f,on="TEAM")#on=""(두 데이터프레임의 기준열 이름이 같을 때) 기준열

  t_df["season"] = count
  globals()["b_s_"+str(count)] = t_df

  count = count + 1

b_s_total = pd.concat([b_s_2001,b_s_2002,b_s_2003,b_s_2004,b_s_2005,b_s_2006,b_s_2007,b_s_2008,b_s_2009,b_s_2010,b_s_2011,b_s_2012,b_s_2013,b_s_2014,b_s_2015,b_s_2016,b_s_2017,b_s_2018,b_s_2019,b_s_2020,], axis=0)

print(b_s_total)

# best.plot(kind='barh',x='season',y=['Point'],figsize=(15,10))
# best.plot(kind='bar',x='season',y=['Point'])

# print(best_attack)


# best.plot(kind='barh',x='TEAM',y=df["g_total"],figsize=(15,10))

plt.show()

Empty DataFrame
Columns: [TEAM, Shot, Shot_target, season]
Index: []

##역대 우승 팀의 승점, 공격력을 추출해보자!

In [42]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import calendar
import datetime

EPL_data = pd.read_csv('/content/results.csv', encoding="cp949")

# 시즌 list
season=list(EPL_data['Season'].unique())#시즌 별로 가져옴

#enumerate() 함수는 인자로 넘어온 목록을 기준으로 인덱스와 원소를 차례대로 접근하게 해주는 반복자(iterator) 객체를 반환해주는 함수
for count, i in enumerate(season, 1994):
  rank = {}
  #loc는 소괄호()가 아닌 대괄호[]로 감쌉니다.
  #.loc[행 , 열] => season의 i번째 index의 모든 열을 가져온다.
  s = EPL_data.loc[EPL_data['Season']==i,:]
  for j in s.index:
    
    if s['FTR'][j] == "H":#s["FTR"]에서 가져온 항목 중에 H가 있다면 
      if s["HomeTeam"][j] in rank:#딕셔너리 안에 있으면 추가
      #3을 더해서 대입해라
        rank[s["HomeTeam"][j]] = rank[s['HomeTeam'][j]] + 3
      else:
        rank[s["HomeTeam"][j]] = 3

    elif s['FTR'][j] == "D":#s["FTR"]에서 가져온 항목 중에 D가 있다면 
      if s["HomeTeam"][j] in rank:#딕셔너리 안에 있으면 추가
        #1을 더해서 대입해라
        rank[s["HomeTeam"][j]] = rank[s['HomeTeam'][j]] + 1
      else:
        rank[s["HomeTeam"][j]] = 1
        #어웨이 팀 동점
      if s["AwayTeam"][j] in rank:#딕셔너리 안에 있으면 추가
        rank[s["AwayTeam"][j]] = rank[s['AwayTeam'][j]] + 1
      else:
        rank[s["AwayTeam"][j]] = 1

  
    else:#s["FTR"]에서 가져온 항목 중에 D가 있다면 
      if s["AwayTeam"][j] in rank:#딕셔너리 안에 있으면 추가
        rank[s["AwayTeam"][j]] = rank[s['AwayTeam'][j]] + 3
      else:
        rank[s["AwayTeam"][j]] = 3

  df = pd.DataFrame(list(rank.items()), columns=["TEAM", "Point"])
  # sort_values 메서드는 값을 기준으로 레이블을 정렬하는 메서드입니다.
  # 즉, 데이터 df를 Point 컬럼의 값을 기준으로 정렬하는 메소드
  # 기본 정렬 방식은 오름차순(ascending)입니다.
  # 내림차순으로 정렬하고 싶다면 ascending 옵션을 False로 설정하면 됩니다.
  df = df.sort_values(by='Point' ,ascending=False)
  df= df.reset_index(drop=True)#drop = true면 기존 인덱스 제거 / false면 유지
  df.index = df.index + 1
  df["season"] = count

  #변수명을 자동화하는 globals 함수
  globals()["s_"+ str(count)] = df

#season들을 concat함수로 묶음 axis=0(세로)/1(가로)
total = pd.concat([s_1994,s_1995,s_1996,s_1997,s_1998,s_1999,s_2000,s_2001,s_2002,s_2003,s_2004,s_2005,s_2006,s_2007,s_2008,s_2009,s_2010,s_2011,s_2012,s_2013,s_2014,s_2015,s_2016,s_2017,s_2018,s_2019,s_2020,], axis=0)
#total.index1번째 요소들을 best에 대입
best_season = total[total.index==1]


#best_season 출력
# best_season

#승점 통계 출력


#우승팀들 골
#우승팀들 슈팅, 유효슈팅

best_attack = list(best_season["TEAM"])
count = 1994
count2 = 1994

for s, t in zip(season, best_attack):#season과 best_attack리스트의 값을 같은 인덱스 짝 별로 묶어 튜플에 담아 반환
  goal = {}
  shot= {}
  shot_target = {}
  s_data = EPL_data.loc[(EPL_data["Season"]==s),:]
  #조건 1 | 조건 2 / HomteTeam 이거나 AwayTeam의 열을 모두 가져와라
  s_data = s_data.loc[(s_data["HomeTeam"]==t)|(s_data["AwayTeam"]==t),:]

  for j in s_data.index:
    if s_data["HomeTeam"][j] == t:#홈 팀일때
      #홈에서의 골
      if s_data["HomeTeam"][j] in goal:
        goal[s_data["HomeTeam"][j]] = goal[s_data["HomeTeam"][j]] + s_data["FTHG"][j]
      else:
        goal[s_data["HomeTeam"][j]] = s_data["FTHG"][j]
      #슈팅
      if s_data["HomeTeam"][j] in shot:#홈에서의 슈팅
        shot[s_data["HomeTeam"][j]] = shot[s_data["HomeTeam"][j]] + s_data["HS"][j]
      else:
        shot[s_data["HomeTeam"][j]] = s_data["HS"][j]
      #유효슈팅
      if s_data["HomeTeam"][j] in shot_target:#홈에서의 유효슈팅
        shot_target[s_data["HomeTeam"][j]] = shot_target[s_data["HomeTeam"][j]] + s_data["HST"][j]
      else:
        shot_target[s_data["HomeTeam"][j]] = s_data["HST"][j]

    elif s_data["AwayTeam"][j] == t:#어웨이 팀일때
      #어웨이에서의 골
      if s_data["AwayTeam"][j] in goal:
        goal[s_data["AwayTeam"][j]] = goal[s_data["AwayTeam"][j]] + s_data["FTAG"][j]
      else:
        goal[s_data["AwayTeam"][j]] = s_data["FTAG"][j]
      #어웨이에서의 슈팅
      if s_data["AwayTeam"][j] in shot:
        shot[s_data["AwayTeam"][j]] = shot[s_data["AwayTeam"][j]] + s_data["AS"][j]
      else:
        shot[s_data["AwayTeam"][j]] = s_data["AS"][j]
        #어웨이 유효슈팅
      if s_data["AwayTeam"][j] in shot_target:
        shot_target[s_data["AwayTeam"][j]] = shot_target[s_data["AwayTeam"][j]] + s_data["AST"][j]
      else:
        shot_target[s_data["AwayTeam"][j]] = s_data["AST"][j]



  df = pd.DataFrame(list(goal.items()), columns=['TEAM', 'Goal'])
  df["season"] = count
  globals()["b_" + str(count)] = df
  count = count + 1

  df = pd.DataFrame(list(shot.items()),columns = ['TEAM','Shot'])
  df_f = pd.DataFrame(list(shot_target.items()),columns = ['TEAM','Shot_target'])
  t_df = pd.merge(df,df_f,on="TEAM")#on=""(두 데이터프레임의 기준열 이름이 같을 때) 기준열

  t_df["season"] = count2
  globals()["b_s_"+str(count2)] = t_df
  count2 = count2 + 1

g_total = pd.concat([b_1994,b_1995,b_1996,b_1997,b_1998,b_1999,b_2000,b_2001,b_2002,b_2003,b_2004,b_2005,b_2006,b_2007,b_2008,b_2009,b_2010,b_2011,b_2012,b_2013,b_2014,b_2015,b_2016,b_2017,b_2018,b_2019,b_2020,], axis=0)
b_s_total = pd.concat([b_s_1994,b_s_1995,b_s_1996,b_s_1997,b_s_1998,b_s_1999,b_s_2000,b_s_2001,b_s_2002,b_s_2003,b_s_2004,b_s_2005,b_s_2006,b_s_2007,b_s_2008,b_s_2009,b_s_2010,b_s_2011,b_s_2012,b_s_2013,b_s_2014,b_s_2015,b_s_2016,b_s_2017,b_s_2018,b_s_2019,b_s_2020,], axis=0)

g_total = g_total.reset_index(drop=True)
b_s_total = b_s_total.reset_index(drop=True)
best_team_shoting = pd.merge(g_total, b_s_total,how='outer', on="season")
# best_team_shoting.describe()

#역대 우승팀 시각화 출력
# best_season.plot(kind='barh',x='TEAM',y=['Point'],figsize=(15,10))
# plt.show()

#역대 우승팀 결과 골, 슛, 유효슈팅 통계
# goal = best_team_shoting.loc[:,['Goal','Shot','Shot_target']].describe()
# goal
# best_season.describe()
# best_season['season'].groupby(best_season["TEAM"]).count()
best_season

         TEAM  Point  season
1  Man United     92    1994
1   Blackburn     89    1995
1  Man United     82    1996
1  Man United     75    1997
1     Arsenal     78    1998
1  Man United     79    1999
1  Man United     91    2000
1  Man United     80    2001
1     Arsenal     87    2002
1  Man United     83    2003
1     Arsenal     90    2004
1     Chelsea     95    2005
1     Chelsea     91    2006
1  Man United     89    2007
1  Man United     87    2008
1  Man United     90    2009
1     Chelsea     86    2010
1  Man United     80    2011
1  Man United     89    2012
1  Man United     89    2013
1    Man City     86    2014
1     Chelsea     87    2015
1   Leicester     81    2016
1     Chelsea     93    2017
1    Man City    100    2018
1    Man City     98    2019
1   Liverpool     99    2020

##레스터를 추출해보자!

In [70]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import calendar
import datetime

EPL_data = pd.read_csv('/content/results.csv', encoding="cp949")

# 시즌 list
season=list(EPL_data['Season'].unique())#시즌 별로 가져옴

#enumerate() 함수는 인자로 넘어온 목록을 기준으로 인덱스와 원소를 차례대로 접근하게 해주는 반복자(iterator) 객체를 반환해주는 함수
for count, i in enumerate(season, 1994):
  rank = {}
  #loc는 소괄호()가 아닌 대괄호[]로 감쌉니다.
  #.loc[행 , 열] => season의 i번째 index의 모든 열을 가져온다.
  s = EPL_data.loc[EPL_data['Season']==i,:]
  for j in s.index:
    if s["HomeTeam"][j] =="Leicester":
      if s['FTR'][j] == "H":#s["FTR"]에서 가져온 항목 중에 H가 있다면 
        if s["HomeTeam"][j] in rank:#딕셔너리 안에 있으면 추가
        #3을 더해서 대입해라
          rank[s["HomeTeam"][j]] = rank[s['HomeTeam'][j]] + 3
        else:
          rank[s["HomeTeam"][j]] = 3

      if s['FTR'][j] == "D":#s["FTR"]에서 가져온 항목 중에 D가 있다면 
        if s["HomeTeam"][j] in rank:#딕셔너리 안에 있으면 추가
          #1을 더해서 대입해라
          rank[s["HomeTeam"][j]] = rank[s['HomeTeam'][j]] + 1

          #어웨이 팀 동점
        if s["AwayTeam"][j] in rank:#딕셔너리 안에 있으면 추가
          rank[s["AwayTeam"][j]] = rank[s['AwayTeam'][j]] + 1

    elif s["AwayTeam"][j] =="Leicester":
      if s['FTR'][j] == "A":#s["FTR"]에서 가져온 항목 중에 D가 있다면 
        if s["AwayTeam"][j] in rank:#딕셔너리 안에 있으면 추가
          rank[s["AwayTeam"][j]] = rank[s['AwayTeam'][j]] + 3
        else:
          rank[s["AwayTeam"][j]] = 3

  df = pd.DataFrame(list(rank.items()), columns=["TEAM", "Point"])

  # sort_values 메서드는 값을 기준으로 레이블을 정렬하는 메서드입니다.
  # 즉, 데이터 df를 Point 컬럼의 값을 기준으로 정렬하는 메소드
  # 기본 정렬 방식은 오름차순(ascending)입니다.
  # 내림차순으로 정렬하고 싶다면 ascending 옵션을 False로 설정하면 됩니다.
  df = df.sort_values(by='Point' ,ascending=False)
  df= df.reset_index(drop=True)#drop = true면 기존 인덱스 제거 / false면 유지
  df.index = df.index + 1
  df["season"] = count

  #변수명을 자동화하는 globals 함수
  globals()["s_"+ str(count)] = df

#season들을 concat함수로 묶음 axis=0(세로)/1(가로)
total = pd.concat([s_1994,s_1995,s_1996,s_1997,s_1998,s_1999,s_2000,s_2001,s_2002,s_2003,s_2004,s_2005,s_2006,s_2007,s_2008,s_2009,s_2010,s_2011,s_2012,s_2013,s_2014,s_2015,s_2016,s_2017,s_2018,s_2019,s_2020,], axis=0)
#total.index1번째 요소들을 best에 대입
best_season = total[total.index==1]


#best_season 출력
# best_season




#우승팀들 골
#우승팀들 슈팅, 유효슈팅

best_attack = list(best_season["TEAM"])
count = 1994
count2 = 1994

for s, t in zip(season, best_attack):#season과 best_attack리스트의 값을 같은 인덱스 짝 별로 묶어 튜플에 담아 반환
  goal = {}
  shot= {}
  shot_target = {}
  s_data = EPL_data.loc[(EPL_data["Season"]==s),:]
  #조건 1 | 조건 2 / HomteTeam 이거나 AwayTeam의 열을 모두 가져와라
  s_data = s_data.loc[(s_data["HomeTeam"]==t)|(s_data["AwayTeam"]==t),:]

  for j in s_data.index:
    if s_data["HomeTeam"][j] =="Leicester":
        #홈에서의 골
      if s_data["HomeTeam"][j] in goal:
        goal[s_data["HomeTeam"][j]] = goal[s_data["HomeTeam"][j]] + s_data["FTHG"][j]
      else:
        goal[s_data["HomeTeam"][j]] = s_data["FTHG"][j]
      #슈팅
      if s_data["HomeTeam"][j] in shot:#홈에서의 슈팅
        shot[s_data["HomeTeam"][j]] = shot[s_data["HomeTeam"][j]] + s_data["HS"][j]
      else:
        shot[s_data["HomeTeam"][j]] = s_data["HS"][j]
      #유효슈팅
      if s_data["HomeTeam"][j] in shot_target:#홈에서의 유효슈팅
        shot_target[s_data["HomeTeam"][j]] = shot_target[s_data["HomeTeam"][j]] + s_data["HST"][j]
      else:
        shot_target[s_data["HomeTeam"][j]] = s_data["HST"][j]

    elif s_data["AwayTeam"][j] =="Leicester":
    #어웨이에서의 골
      if s_data["AwayTeam"][j] in goal:
        goal[s_data["AwayTeam"][j]] = goal[s_data["AwayTeam"][j]] + s_data["FTAG"][j]
      else:
        goal[s_data["AwayTeam"][j]] = s_data["FTAG"][j]
      #어웨이에서의 슈팅
      if s_data["AwayTeam"][j] in shot:
        shot[s_data["AwayTeam"][j]] = shot[s_data["AwayTeam"][j]] + s_data["AS"][j]
      else:
        shot[s_data["AwayTeam"][j]] = s_data["AS"][j]
        #어웨이 유효슈팅
      if s_data["AwayTeam"][j] in shot_target:
        shot_target[s_data["AwayTeam"][j]] = shot_target[s_data["AwayTeam"][j]] + s_data["AST"][j]
      else:
        shot_target[s_data["AwayTeam"][j]] = s_data["AST"][j]



  df = pd.DataFrame(list(goal.items()), columns=['TEAM', 'Goal'])
  df["season"] = count
  globals()["b_" + str(count)] = df
  count = count + 1

  df = pd.DataFrame(list(shot.items()),columns = ['TEAM','Shot'])
  df_f = pd.DataFrame(list(shot_target.items()),columns = ['TEAM','Shot_target'])
  t_df = pd.merge(df,df_f,on="TEAM")#on=""(두 데이터프레임의 기준열 이름이 같을 때) 기준열

  t_df["season"] = count2
  globals()["b_s_"+str(count2)] = t_df
  count2 = count2 + 1

l_total = pd.concat([b_1994,b_1995,b_1996,b_1997,b_1998,b_1999,b_2000,b_2001,b_2002,b_2003,b_2004,b_2005,b_2006,b_2007,b_2008,b_2009,b_2010,b_2011,b_2012,b_2013,b_2014,b_2015,b_2016,b_2017,b_2018,b_2019,b_2020], axis=0)
l_s_total = pd.concat([b_s_1994,b_s_1995,b_s_1996,b_s_1997,b_s_1998,b_s_1999,b_s_2000,b_s_2001,b_s_2002,b_s_2003,b_s_2004,b_s_2005,b_s_2006,b_s_2007,b_s_2008,b_s_2009,b_s_2010,b_s_2011,b_s_2012,b_s_2013,b_s_2014,b_s_2015,b_s_2016,b_s_2017,b_s_2018,b_s_2019,b_s_2020], axis=0)
# print(l_total)
# print(l_s_total)




# g_total = g_total.reset_index(drop=True)
# b_s_total = b_s_total.reset_index(drop=True)
best_team_shoting = pd.merge(l_total, l_s_total,how='outer', on="season")

# 역대 우승팀 시각화 출력
# best

goal = best_team_shoting.loc[:,['Goal','Shot','Shot_target']].describe()
# goal / 38
# goal

# best_team_shoting
#승점 통계 출력
# best_season.plot(kind='barh',x='season',y=['Point'],figsize=(15,10),color="b")

#---------------------------------------이제 레스터 공격력 추출해야됨--------------------------------------
total

        TEAM Point  season
1  Leicester    23    1995
1  Leicester    41    1997
1  Leicester    49    1998
1  Leicester    42    1999
1  Leicester    51    2000
1  Leicester    45    2001
1  Leicester    21    2002
1  Leicester    26    2004
1  Leicester    36    2015
1  Leicester    75    2016
1  Leicester    39    2017
1  Leicester    42    2018
1  Leicester    48    2019
1  Leicester    57    2020